article {

  ol, ul {
    padding-left: 40px;
  }

  ol {
    list-style: decimal outside;

    li {
      list-style-type: decimal;
    }
  }

  ul {
    list-style: disc outside;

    li {
      list-style-type: disc;
    }
  }

}
