article {

  ol, ul {
    padding-left: 40px;
  }

    ol {
      list-style: decimal outside !important;

      li {
        list-style-type: decimal;
      }
    }

    ul {
      list-style: disc outside !important;

      li {
        list-style-type: disc;
      }
    }

}
